<mat-card class="example-card">
  <mat-card-header>
    
    <img mat-card-avatar src="assets/AdminLogo.png" *ngIf="tipoRol === 1">
    <img mat-card-avatar src="assets/UserLogo.png" *ngIf="tipoRol === 2">
    <mat-card-title>Nombre de usuario: {{usuario}}</mat-card-title>
    <mat-card-subtitle>Rol(es): {{nombreRol}}</mat-card-subtitle>
    
  </mat-card-header>
  <img mat-card-image src="assets/equipo.jpg">
  <mat-card-content>
    <p>
      
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/paciente">REGRESAR</button>
  </mat-card-actions>
</mat-card>