<mat-toolbar>Signos Vitales</mat-toolbar>

<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8" *ngIf="route.children.length === 0">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idSignos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idSignos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="paciente">
      <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paciente.nombres}} {{element.paciente.apellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="temperatura">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura (°C) </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.temperatura}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pulso">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.pulso}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ritmoCardiaco">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Cardiaco </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.ritmoCardiaco}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idSignos]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.idSignos)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row, columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" style="float: right; margin-right: 20px" routerLink='/signos/nuevo'>
  <mat-icon>create</mat-icon>
</button>